* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Lora-Regular, sans-serif;
    background-color: #fff;
    color: #2b2b2b;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}

#nav {
    display: flex;
    justify-content: end;
    padding: 20px 50px;
    align-items: center;
}

#nav li {
    list-style-type: none;
}

#nav a {
    color: #2b2b2b;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

#nav a:hover {
    color: #ff8b27;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    flex-grow: 1;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/iStock-1216277209-1024x683.jpg'); 
    background-size: cover;
    background-position: center;
    filter: blur(8px); 
    z-index: -1; 
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}

#boxHome h1 {
    font-size: 48px;
    color: #111111;
}

#boxHome p {
    font-size: 20px;
    color: #111111;
}

#home p {
    margin-bottom: 2rem;
}

.find-friend-button {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.find-friend-button:hover {
    background-color: #45a049; /* Darker green on hover */
    color: #eaffc0;
}

section {
    width: 80%;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

#dogs {
    display: none;
    flex-direction: column;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

#dog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.dog {
    width: 300px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding-bottom: 10px;
    transition: transform 0.3s ease;
}

.dog:hover {
    transform: scale(1.05);
}

.dog img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.dog h4 {
    margin: 10px 0;
    font-size: 20px;
    color: #333;
}

.dog p {
    margin: 5px 0;
    color: #747474;
}

#loading-spinner {
    display: none;
    border: 12px solid #f3f3f3;
    border-top: 14px solid #ff8b27;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 50px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#connectLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 150px;
}

footer a {
    color: #2b2b2b;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}

footer a:hover {
    color: #ff8b27;
    text-decoration: none;
}

::selection {
    background-color: #FFDAB9; /* Peach background color */
    color: #333; /* Text color when selected*/
}

@media (max-width: 1200px) {
    #nav {
        padding: 20px 30px;
    }

    section {
        width: 90%;
    }

    .dog {
        width: 250px;
    }
}

@media (max-width: 900px) {
    #boxHome h1 {
        font-size: 36px;
    }

    .dog {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 600px) {
    #nav {
        flex-direction: column;
        padding: 15px;
    }

    #boxHome h1 {
        font-size: 28px;
    }

    .find-friend-button {
        padding: 10px 20px;
        font-size: 14px;
    }

    #dog-container {
        flex-direction: column;
        align-items: center;
    }
    footer {
        gap: 10px;
        align-items: center;
        flex-direction: column;
    }
}